<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up for Activity Overlord (angular)</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
    </script>

  </head>

  <body ng-app="ActivityOverlordPublic" ng-controller="PublicCtrl" ng-cloak>

    <!-- Global errors (uiErrorBus) -->
    <div class="ui-error-bus">
      <li ng-repeat="error in errorBus"><span>{{error.message}}</span><span ng-click="errorBus.splice(indexOf(error), 1)" class="fa fa-remove"></span></li>
    </div>

    <div class="container-fluid">
      <!-- Creates the navbar -->
        <nav class="navbar navbar-default navbar-inverse">
          <!-- This creates the mechanism for collapse button -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <!-- This controls the number of lines in the image when the nav collapse -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- This is the brand on the left-hand side. -->
          <a class="navbar-brand" href="/#"> activityOverlord</a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          <form ng-submit="submitLoginForm()" class="navbar-form navbar-right">

              <!-- Error message -->
              <ul ng-show="loginForm.topLevelErrorMessage" class="alert alert-danger">
                <li>
                  <span>{{loginForm.topLevelErrorMessage}}</span>
                </li>
              </ul>

              <div class="form-group">
                  <input ng-model="loginForm.email" type="text" placeholder="Email" name="email" class="form-control">
              </div>
              <div class="form-group">
                  <input ng-model="loginForm.password" type="password" placeholder="Password" name="password" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">
                <span ng-show="!loginForm.loading">Sign in</span>
                <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                <span ng-show="loginForm.loading">Signing up...</span>
              </button>
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </form>
        </nav>
      </div>
    </div>


    <form ng-submit="submitSignupForm()" id="sign-up-form" class="form-signin" name="signup">
      <h2 class="form-signin-heading">Create an account</h2>

      <ul ng-show="signupForm.topLevelErrorMessage" class="alert alert-danger">
        <li>
          <span>{{signupForm.topLevelErrorMessage}}</span>
        </li>
      </ul>

      <ul ng-show="signupForm.validationErrors.length > 0" class="alert alert-danger">
        <li ng-repeat="error in signupForm.validationErrors track by $index">
          <span>{{error}}</span>
        </li>
      </ul>


      <div class="row">

        <!-- N A M E -->

        <!-- checking whether the form "signup" with the "name" property is both $invalid AND $dirty.  If it is
        insert the "has-error" class on the input field (i.e. insert a red border)
        -->
        <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.name.$invalid &&
                              signup.name.$dirty}">
          <label>Your full name</label>

          <!-- For this input field make it required, and have a min and max length -->
          <input type="text" class="form-control" placeholder="e.g. Jon Snow" name="name" ng-model="signupForm.name" required>

          <!-- Also, if signup.name.$dirty is true, show the message depending upon the particular properties truthiness (e.g. required
          and/or minlength) -->
          <span class="help-block has-error" ng-if="signup.name.$dirty">
            <span ng-show="signup.name.$error.required">Name is required.</span>
          </span>
        </div>

        <!-- T I T L E -->

        <div class="control-group form-group col-md-12">
          <label>Your title</label>
          <input type="text" class="form-control" placeholder="e.g. Lord Commander, Night's Watch" name="title" ng-model="signupForm.title">
          <span class="help-block has-error" ng-if="signup.name.$dirty">
            <span ng-show="signup.name.$error.required">Title is required.</span>
          </span>
        </div>

        <!-- E M A I L -->

        <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.email.$invalid &&
                              signup.email.$dirty}">
          <label>Your email address</label>
          <input type="email" class="form-control" placeholder="jon@winterfell.net" name="email" ng-model="signupForm.email" required>
          <span class="help-block has-error" ng-if="signup.email.$dirty">
            <span ng-show="signup.email.$error.required">Email address is required.</span>
            <span ng-show="signup.email.$error.email">Not a valid email address.</span>
          </span>
        </div>

        <!-- P A S S W O R D -->

        <div class="control-group form-group col-md-6"
        ng-class="{'has-error':signup.password.$invalid &&
                              signup.password.$dirty}">
          <label>Choose a password</label>
          <!-- Added the compareTo directive that compares the passowrds -->
          <input type="password" class="form-control" placeholder="at least 6 characters" name="password" ng-model="signupForm.password" id="password" required ng-minlength="5" compare-to="signupForm.confirmPassword" >
          <span class="help-block has-error" ng-if="signup.email.$dirty">
            <span ng-show="signup.password.$error.required">Password is required.</span>
            <span ng-show="signup.password.$error.minlength">Password must be at least 6 characters.</span>
            <span ng-show="signup.password.$error.minlength">Password must be at least 6 characters.</span>
          </span>
        </div>

        <!-- C O N F I R M  P A S S W O R D -->

        <div class="control-group form-group col-md-6">
          <label>Re-enter your password</label>
          <input type="password" class="form-control" placeholder="one more time" name="confirmation" ng-model="signupForm.confirmPassword" required>
          <span class="help-block has-error" ng-if="signup.confirmation.$dirty">
            <span ng-show="signup.password.$error.compareTo">Password must match.</span>
            <span ng-show="signup.confirmation.$error.required">Confirmation password is required.</span>
          </span>
        </div>
      </div>

      <br/>

      <!-- Disable signup button until the form has no errors -->
      <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="signup.$invalid">
        <span ng-show="!signupForm.loading">Create Account</span>
        <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
        <span ng-show="signupForm.loading">Preparing your new account...</span>
      </button>

      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>



    <div class="container">
        <hr>
        <footer class="footer pull-right">
            <div>
                <a href="http://sailsjs.com/">sailsjs.org</a>
                <div>tutorial by irl nathan, with a bunch of help from cody, gabe, heather, mike, racheal, scott and zoli</div>
            </div>
        </footer>
    </div>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.1.3.js"></script>
    <script src="/js/dependencies/angular-messages.js"></script>
    <script src="/js/dependencies/angular-route.min.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/lodash.min.js"></script>
    <script src="/js/dependencies/moment.js"></script>
    <script src="/js/activity-overlord-dashboard/ActivityOverlordDashboard.module.js"></script>
    <script src="/js/activity-overlord-dashboard/DashboardCtrl.js"></script>
    <script src="/js/activity-overlord-public/ActivityOverlordPublic.module.js"></script>
    <script src="/js/activity-overlord-public/ui-controls/PublicCtrl.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>

