<div class="panel panel-default">
  			<!-- Default panel contents -->
  			<div class="panel-heading"><h3>User Administration</h3></div>

  			<table class='table'>
				<tr>
					<th></th>
					<th>ID</th>
					<th>Name</th>
					<th>Title</th>
					<th>Email</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>

				<tr ng-repeat="user in users">	
					<td><img src="angular/images/icon-online.png"></td>
					<td> {{user.id}} </td>
					<td> {{user.name}} </td>
					<td> {{user.title}} </td>
					<td> {{user.email}} </td>
					
					<td> <img src="angular/images/admin.png"></td>
					<td><a href="/user/show/ user.id " class="btn btn-sm btn-primary">Show</a></td>
					<td><a href="/user/edit/ user.id " class="btn btn-sm btn-warning">Edit</a></td>

					<td><form action="/user/destroy/1" method="POST">
						<input type="hidden" name="_method" value="delete"/>
						<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
						<input type="hidden" name="_csrf" value="_csrf"  />
					</form></td>
				</tr> 
			
			</table>
		</div>