.jumbotron {
	text-align: center;
}

.jumbotron h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}


.alert {
  position: absolute;
}

/* remove 1px offset glyphicons have */
form .glyphicon {
    top: 0;
}    

.input-group {
    width: 100%;
}

.form-signin {
position: relative;
max-width: 30%;
padding: 19px 29px 29px;
margin: 0 auto 20px;
margin-top: 20px;

}

/* This moves the signin form over a bit. */
.navbar-form.navbar-right:last-child {
margin-right: 2px;
}

.signinError {

 right: 67px;
 top: 53px;
 z-index: 100;

}




