
  <!-- container = Fixed-width container container-fluid = full-width -->
  <div class="container-fluid">
    <!-- Creates the navbar -->
    <nav class="navbar navbar-default navbar-inverse">
        <!-- This creates the mechanism for collapse button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <!-- This controls the number of lines in the image when the nav collapse -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- This is the brand on the left-hand side. -->
        <a class="navbar-brand" href="/#"> activityOverlord</a>
      <!-- This is what is the above collapse button points to when the mark-up below is collapsed -->
      <div class="collapse navbar-collapse" ng-controller="navBarController">
        <!-- This is what "styles" the li's as navbar items -->
        <ul class="nav navbar-nav" >
          <li ng-class="{'active':getClass('/users')}"><a ng-click="getUserList()">User Administration</a></li>
              <li><a href="/#signin">Placeholder2</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
        <li class="gravatarSm"><img ng-src="images/default.jpg" width="24" height="24"/></li>
        <li class="activityOverlord active"><a ng-click="getProfile()"> {{userName}}</a></li>
        <!-- <li class="activityOverlord active"><a href="/{{id}}">{{userName}}</a></li> -->
        
          <!-- navbar-right pulls this element right -->
          <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
          fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
          controller will not be tied to this element. -->
                <li ng-cloak class="btn btn-default navbar-btn " ng-show="isAuth" ng-click="signOutUser()">sign-out</li>
                <!-- <a ng-controller="signinController" class="btn btn-default navbar-btn navbar-right" href="#" ng-if="!isAuthenticated">sign-in</a> -->

                <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
          fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
          controller will not be tied to this element. -->
                
        </ul>
              
            </div>
      </nav> 

      

      <!-- start partials -->
    <div ng-view></div>

  </div>

